
/* body and main parts for design */

body {
	background-color: #000000;

}

header, main, footer {
	background-color: #706C61;
	width: auto;
	border-radius: 25px;
	height: auto;
	padding: 20px;
	margin: 20px;
}




/* H1 - H6 Code */

h1 {
	color: #F8F4E3;
	font-size: 100px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: auto;
}

h2 {
		color: #F8F4E3;
	font-size: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: auto;

}

p, main {
	color: #F8F4E3;
	font-size: 40px;
	font-weight: 10px;
	font-family: Tahoma, Geneva, sans-serif;
}


/* Start Button */
.btn-start {
	display: block;
	background-color: #F8F4E3; 
	border-radius: 25px;
	height: 100px;
	width: 250px;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	font-size: 50px;

}


/* Restart button has to be a little bigger */
.btn-restart {
	display: block;
	background-color: #F8F4E3;
	border-radius: 25px;
	height: 140px;
	width: 300px;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	font-size: 50px;

}


/* center code */
.centerit {
	display: block;
    margin: 0 auto;
    text-align: center;
}


@media all and (min-width: 800px) {


h1 {
	color: #F8F4E3;
	font-size: 100px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: auto;
	letter-spacing: 5px;
}

h2 {
		color: #F8F4E3;
	font-size: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: auto;
	letter-spacing: 5px;

}

p, main {
	color: #F8F4E3;
	font-size: 40px;
	font-weight: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 5px;
}



}